WALMART_USERNAME=your_username_here
WALMART_PASSWORD=your_password_here
CHROMIUM_PATH=
HEADLESS=false
LOGIN_URL=https://retaillink.login.wal-mart.com/login
USER_DATA_DIR=chrome_profile

# LastPass integration (set USE_LASTPASS=true to fetch credentials from vault)
USE_LASTPASS=false
LASTPASS_EMAIL=your_lastpass_email_here
LASTPASS_PASSWORD=your_lastpass_master_password_here
